.izl-rmenu{
  position:fixed;
  bottom:60px;
  right:60px;
  z-index:999;
  width: 60px;
  .btn{width:58px;
    height:58px;
    margin-bottom:1px;
    cursor:pointer;
    position:relative;}
   .btn-top{
     border: 1px solid $blue;
     padding: 10px;
     border-radius: 30px;
     &:hover{
       background-color: rgba(255,255,255,0.7);
     }
     .iconTop{
       color:$blue;
       font-size: 35px;
       line-height: 35px;
     }
     .iconTopword{
       font-size: 1em;
       line-height: 35px;
       color: $blue;
     }
   }
}
