#banner{
  position: relative;
  top:0;
  @media (max-width: $screen-xs-max) {
    top:60px;
    height: calc(100% - 60px);
  }
  @media (min-width: $screen-sm-min) {
    top:0;
    height: 100%;
  }
  display: block;
  width: 100%;
  .owl-wrapper-outer,.owl-wrapper,.owl-wrapper,.owl-item,.item{
    width: 100%;
    height: 100%;
  }
  .list1{
    height: 100%;
    margin: 0 auto;
    padding: 20% 0;
    background-color: $blue;
    h1,h2,p{color:$white;
      text-align: center;
    }
  }
}
#banner .item img{
  display: block;
  width: 100%;
  height: 100%;
}
.owl-controls{
  margin-top:0;
  text-align: center;
  .owl-pagination{
    margin-top:-40px;
    .owl-page{
      display: inline-block;
      zoom: 1;
      *display: inline;/*IE7 life-saver */
      span{
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=90);/*IE7 fix*/
        opacity: 0.9;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: none;
        border: 2px solid $white;
      }
    }
    .active{
      span{
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=90);/*IE7 fix*/
        opacity: 0.9;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: $white;
      }
    }
  }
  .owl-buttons{
    position: absolute;
    top:50%;
    width: 100%;
    .owl-prev{
      position: absolute;
      left:60px;
      .icon-left{
        font-size: 60px;
        line-height: 60px;
        color: $white;
      }

    }
    .owl-next{
      position: absolute;
      right:60px;
      font-size: 60px;
      line-height: 60px;
      color: $white;
      .icon-right{
        font-size: 60px;
        line-height: 60px;
        color: $white;
      }
    }
  }
}


