.header{
  position: relative;
  transition: 1s;
}
.logo1{
  color:$white;
  font-size: 60px;
  line-height: 60px;
}
.navbar {
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    padding: 0 45px;
  }
  .navbar-brand{
    height:46px;
    width: 166px;
    margin: 17px 15px;
    background:url("../images/public/logo1.png") top left no-repeat;
    background-size: cover;
  }
}

.navbar-nav {
  margin-bottom: 0;
  margin-top:0;
  > li > a {
    padding:0 20px;
    @media (min-width: $screen-sm-min) {
      line-height: 80px;
    }
    @media (max-width: $screen-xs-max) {
      line-height: 50px;
    }
  }
}
// Default navbar
.navbar-default {
  background:none;
  @media (max-width: $screen-xs-max) {
    background-color: $blue;
    .navbar-nav {
      > li > a {
        text-align: center;
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
          color: $blue;
          background:$white;
          border-bottom: none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $blue;
          background:$white;
          border-bottom: none;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background:none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-active-color;
          background:none;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }
  }
  border:none;


  .navbar-toggle {
    margin-top:20px!important;
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
      border-color:$navbar-default-toggle-hover-border-color;
      .icon-bar{
        background-color: $navbar-default-toggle-icon-bar-hover-bg;

      }
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }
}
// Default navbar
.navbar-default-blue {
  background:white;
  @media (max-width: $screen-xs-max) {
    background-color: $white;
    .navbar-nav {
      > li > a {
        text-align: center;
        color: $blue;
        background:$white;
        &:hover,
        &:focus {
          color: $white;
          background:$blue;
          border-bottom: none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $white;
          background:$blue;
          border-bottom: none;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-blue-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-hover-color;
          background:none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-active-color;
          background:none;
        }
      }

    }
  }
  border:none;


  .navbar-toggle {
    margin-top:20px;
    border-color: $navbar-default-blue-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-blue-toggle-hover-bg;
      border-color:$navbar-default-blue-toggle-hover-border-color;
      .icon-bar{
        background-color: $navbar-default-blue-toggle-icon-bar-hover-bg;

      }
    }
    .icon-bar {
      background-color: $navbar-default-blue-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-blue-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-blue-link-hover-color;
            background-color: $navbar-default-blue-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-blue-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}
.navbar-collapse{
  position: relative;
}
//marker
.marker{
  position: absolute;
  bottom:0;
  height: 3px;
  left: 0;
  background:none;
  background-color: $white;
  -webkit-transition-property:left;
  transition-property: left;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
