.header{
  position: relative;
}
.logo1{
  color:$white;
  font-size: 40px;
  line-height: 40px;
}
.navbar {
  margin-bottom: 0;
  .navbar-brand{
    height:60px;
    padding: 10px 15px;
  }
}

.navbar-nav {
  margin-bottom: 0;
  margin-top:0;
  > li > a {
    @media (min-width: $screen-sm-min){
      padding-top: 20px;
      padding-bottom: 15px;
      line-height: 20px;
    }

    @media (max-width: $screen-xs-max){
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
}
// Default navbar
.navbar-default {
  background:none;
  @media (max-width: $screen-xs-max) {
    background-color: $blue;
    .navbar-nav {
      > li > a {
        text-align: center;
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
          color: $blue;
          background:$white;
          border-bottom: none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $blue;
          background:$white;
          border-bottom: none;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-link-hover-color;
          background:none;
          border-bottom: 4px solid $navbar-default-link-hover-border;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-active-color;
          background:none;
          border-bottom: 4px solid $navbar-default-link-active-border;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-link-disabled-color;
          background-color: $navbar-default-link-disabled-bg;
        }
      }
    }
  }
  border:none;


  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
      border-color:$navbar-default-toggle-hover-border-color;
      .icon-bar{
        background-color: $navbar-default-toggle-icon-bar-hover-bg;

      }
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }
}
// Default navbar
.navbar-default-blue {
  background:white;
  @media (max-width: $screen-xs-max) {
    background-color: $white;
    .navbar-nav {
      > li > a {
        text-align: center;
        color: $blue;
        background:$white;
        &:hover,
        &:focus {
          color: $white;
          background:$blue;
          border-bottom: none;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $white;
          background:$blue;
          border-bottom: none;
        }
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      > li > a {
        color: $navbar-default-blue-link-color;
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-hover-color;
          background:none;
          border-bottom: 4px solid $navbar-default-blue-link-hover-border;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: $navbar-default-blue-link-active-color;
          background:none;
          border-bottom: 4px solid $navbar-default-blue-link-active-border;
        }
      }

    }
  }
  border:none;


  .navbar-toggle {
    border-color: $navbar-default-blue-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-blue-toggle-hover-bg;
      border-color:$navbar-default-blue-toggle-hover-border-color;
      .icon-bar{
        background-color: $navbar-default-blue-toggle-icon-bar-hover-bg;

      }
    }
    .icon-bar {
      background-color: $navbar-default-blue-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-blue-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-blue-link-hover-color;
            background-color: $navbar-default-blue-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-blue-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}
