.services{
  margin-top:0;
  @media (max-width: $screen-xs-max) {
    margin-top:60px;
  }
  @media (min-width: $screen-sm-min) {
    margin-top:0;
  }
  h1{color: $deepblack;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      font-size: 1.5em;
    }
    @media (min-width: $screen-md-min) {
      font-size: 1.8em;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 1.2em;
    }
  }
  p{margin: 0;}
  .icon-app,.icon-ind,.icon-web,.icon-brand{
    @media (min-width: $screen-sm-min) {
      font-size: 120px;
      line-height: 120px;
      border-radius: 120px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 150px;
      line-height: 150px;
      border-radius: 150px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 180px;
      line-height: 180px;
      border-radius: 180px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 60px;
      line-height: 60px;
      border-radius: 60px;
    }
  }
  .icon-app{
    color: $red;
    border: 1px solid $red;
    &:hover{
      color: $white;
      background-color: $red;
      border-radius: 90px;
    }
  }
  .icon-web{
    color: $orange;
    border: 1px solid $orange;
    &:hover{
      color: $white;
      background-color: $orange;
      border-radius: 90px;
    }
  }
  .icon-ind{
    color: $green;
    border: 1px solid $green;
    &:hover{
      color: $white;
      background-color: $green;
      border-radius: 90px;
    }
  }
  .icon-brand{
    color: $lightblue;
    border: 1px solid $lightblue;
    &:hover{
      color: $white;
      background-color: $lightblue;
      border-radius: 90px;
    }
  }
}

