.mt1em{margin-top:1em;}
.mt2em{margin-top:2em;}
.mt60{margin-top:60px;}
.mb1em{margin-bottom:1em;}
.mb60{margin-bottom:60px;}
//color
$opacityWhite:      rgba(255,255,255,0.7);
$white:             #fff;
$blue:              #025499;
$black:              #676969;
$deepblack:          #000;
$lightgray:          #C9CACA;
$red:                #E6262C;
$orange:             #F08519;
$green:              #009B4C;
$lightblue:          #1CA3E6;
//navbar-default
$navbar-default-bg:               $blue;
$navbar-default-link-color:       $opacityWhite;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg:    $white;
$navbar-default-link-hover-border:$white;
$navbar-default-link-active-color:$white;
$navbar-default-link-active-border:$white;

//navbar-default
$navbar-default-bule-bg:               $white;
$navbar-default-blue-link-color:       $black;
$navbar-default-blue-link-hover-color: $blue;
$navbar-default-blue-link-hover-bg:    $white;
$navbar-default-blue-link-hover-border:$blue;
$navbar-default-blue-link-active-color:$blue;
$navbar-default-blue-link-active-border:$blue;


// Navbar toggle
$navbar-default-toggle-hover-bg:           $white;
$navbar-default-toggle-icon-bar-bg:        $white;
$navbar-default-toggle-border-color:       $white;
$navbar-default-toggle-hover-border-color: $blue;
$navbar-default-toggle-icon-bar-hover-bg:  $blue;

// Navbar blue toggle
$navbar-default-blue-toggle-hover-bg:           $blue;
$navbar-default-blue-toggle-icon-bar-bg:        $blue;
$navbar-default-blue-toggle-border-color:       $blue;
$navbar-default-blue-toggle-hover-border-color: $white;
$navbar-default-blue-toggle-icon-bar-hover-bg:  $white;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
