//color
$white:             #fff;
$blue:              #025499;
//navbar-default
$navbar-default-bg:               $blue;
$navbar-default-link-color:       $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg:    $white;
$navbar-default-link-hover-border:$white;
$navbar-default-link-active-color:$white;
$navbar-default-link-active-border:$white;
