$icon-font-path: '../fonts/';
@import "../fonts/iconfont.css";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_variables.scss";
@import "_header.scss";
body{font-family: "Arial","STXihei","Microsoft YaHei"; line-height:1.5em;}
*{margin: 0; padding: 0;outline: none}
a{background:none;}
a:focus,a:hover{ outline:none;text-decoration: none;}
ul,ol{list-style: none;}
