$icon-font-path: '../fonts/';
@import "../fonts/iconfont.css";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_variables.scss";
@import "_header.scss";
@import "_banner.scss";
@import "_index.scss";
@import "_footer.scss";
@import "_backTop.scss";
@import "_demo.scss";
html,body{font-family: "Arial","STXihei","Microsoft YaHei"; line-height:1.5em;
  height: 100%;
  width: 100%;
}
*{margin: 0; padding: 0;outline: none}
a{background:none;}
b,i,span{font-style: normal;}
a:focus,a:hover{ outline:none;text-decoration: none;}
ul,ol{list-style: none;}
.img-responsive{
  width: 100%;
}
